<div class="header">
    <ul>
        <img class="logotipo" src="./../../assets/imagens/ford_logo.svg">
        <li><a href="../index.html">Veículos</a></li>
        <li><a href="../index.html">Ofertas</a></li>
        <li><a href="sobre.html">Comprar</a></li>
        <li><a href="https://www.ford.com.br/ofertas-ford/">Serviços</a></li>
    </ul>
    <ul>
        <li>
            <a href="sobre.html">
                <span class="material-icons">
        directions_car
      </span> Consulte Estoque</a>
        </li>
        <li>
            <a href="sobre.html">
                <span class="material-icons">
        location_on
      </span>Concessionárias</a>
        </li>
        <li>
            <a href="sobre.html" class="icon-search">
                <span class="material-icons">
        search
      </span></a>
        </li>
    </ul>
</div>