<div class="header">
    <ul>
        <img class="logotipo" src="./../../assets/imagens/ford_logo.svg">
        <li><a href="https://www.ford.com.br/">Veículos</a></li>
        <li><a href="https://www.ford.com.br/ofertas-ford/">Ofertas</a></li>
        <li><a href="https://www.ford.com.br/compre-o-seu/monte-o-seu/selecione-um-veiculo/">Comprar</a></li>
        <li><a href="https://www.ford.com.br/ofertas-ford/">Serviços</a></li>
    </ul>
    <ul>
        <li>
            <a href="https://www.ford.com.br/shop/?intcmp=hp-return-utility-link ">
                <span class="material-icons">
        directions_car
      </span> Consulte Estoque</a>
        </li>
          <li>
            <a href="https://www.ford.com.br/localize-uma-concessionaria/">
              <span class="material-icons">
                location_on
              </span>Concessionárias
            </a>
          </li>
        <li>
            <a  class="icon-search">
                <span class="material-icons">
        search
      </span></a>
        </li>
    </ul>
</div>
