
header{
  display: flex;
  background-color: white;
  height: 4rem;
  justify-content: space-between;
}

.logotipo {
  margin-right: 7rem;
  margin-left: 4rem;
}

nav{
  display: flex;
}

nav ul{
  display: flex;
  margin-right: 50px;
}

nav li{
  list-style: none;
  margin: 0.6rem;
}

a{
  color: #008cba;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  font-family: "Antenna",Arial,Helvetica,"Microsoft YaHei","微软雅黑","STXihei","华文细黑","SimSun","宋体";
  display: flex;
  align-items: flex-end;
}

.material-icons {
  margin: 0;
}
