<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ford</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <button class="botaovoltar">
    <span class="material-icons">
      arrow_back_ios
    </span>
  </button>
    <div class="corpo">
      <h1 class="textopergunta1">
        / Pergunta 01
      </h1>
      <h2 class="textocentral">
        Com quantas pessoas você costuma andar no carro?
      </h2>
      <div class="boxopcoes">
        <button class="botaoopcao">2 a 3 pessoas</button>
        <button class="botaoopcao">3 a 4 pessoas</button>
        <button class="botaoopcao">4 a 5 pessoas</button>
        <button class="botaoopcao">5 ou mais pessoas</button>
      </div>
    </div>
</body>
</html>
