<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Ford</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <ng-container *ngIf="!isQuizCompleted">

    <button class="botaorecomecar" routerLink="/home">
      Reiniciar Teste
    </button>
    <div class="corpo">
        <h1 class="textopergunta1">
          / Pergunta {{fakeResult+1}}
        </h1>
        <h2 class="textocentral">
            {{questionList[currentQuestion]?.questionText}}
        </h2>
        <div class="boxopcoes">
          <div *ngFor="let option of questionList[currentQuestion]?.options">
            <button class="botaoopcao" (click)="answer(currentQuestion+1,option)">
              {{option.text}}
            </button>
          </div>
        </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isQuizCompleted">
      <div class="corporesultado">
        <div  class="showcarro">
          <img src="{{resultList[currentResult]?.linkprincipal}}"  style="height:100%;">
        </div>
        <div class="textoperfil" style="margin: 20px 40px;width: 440px;">
          <h1>
            {{resultList[currentResult]?.title}}
          </h1>
          <h2>
            {{resultList[currentResult]?.description}}
          </h2>
          <button class="btn-share" style="font-size: large;">
            Compartilhar resultado
            <span class="material-icons">
              share
            </span>
          </button>
        </div>

      </div>
      <div class="conhecatambem">
        <h1>Conheça também</h1>
        <ul style="display: flex;">
          <div  class="showminicarro">
            <img src="{{resultList[currentResult]?.option1link}}">
           <h6>{{resultList[currentResult]?.option1name}}</h6>
          </div>
          <div  class="showminicarro">
            <img src="{{resultList[currentResult]?.option2link}}">
            <h6>{{resultList[currentResult]?.option2name}}</h6>
          </div>
          <div  class="showminicarro" style="background-color: var(--bg-padrao);">
            <a href="https://www.ford.com.br/compre-o-seu/monte-o-seu/selecione-um-veiculo/">
              <button style="background-color: transparent;border: 0px;cursor: pointer;" >
                <span class="material-icons" >
                  add
                </span>
              </button>
              <h6>Mais opções</h6>
            </a>
          </div>
        </ul>
      </div>
      <button class="botaorecomecar" routerLink="/home">
        Reiniciar Teste
      </button>
  </ng-container>
</body>

</html>
<!-- <span style="font-size: 20px;">{{this.allQuestions.p1 | json}}</span> -->
